<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="{{path('app_main')}}" class="logo d-flex align-items-center">
                    <span>RPVO</span>
                </a>
                <p>
                    Réseau Périnatal du Val d'Oise (R.P.V.O.)
                </p>
                <div class="mt-4">
                    <i class="bi bi-geo-alt-fill"></i>
                    Centre Pluridisciplinaire Danton 2 bis rue Danton <br>
                    95240 Cormeilles-en-Parisis
                    <br><br>
                    <strong>Téléphone : </strong>
                    <a href="tel:09 83 95 00 12" style="color: rgba(255, 255, 255, 0.7);">09 83 95 00 12</a>
                    <br>
                    <strong>Email : </strong> contact@rpvo.org<br>
                </div>
            </div>

            <div class="col-lg-3 col-6 footer-links">
                <h4>Liens utiles</h4>
                <ul>
                    <li><a href="#">Espace Membre</a></li>
                    <li><a href="#">Agenda</a></li>
                    <li><a href="#">Informations utiles</a></li>
                    <li><a href="#">Plan du site</a></li>
                    <li><a href="#">Mentions légales</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-6 footer-links">
                <h4>Nos Outils</h4>
                <ul>
                    <li><a href="#">Calendrier de Grossesse Interactif</a></li>
                    <li><a href="#">Calculateur d'Âge réel ou corrigé pour les Prématurés</a></li>
                    <li><a href="#">Roulette Obstétricale</a></li>
                    <li><a href="#">Échelle Scorée</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            &copy; Copyright <strong><span>RPVO</span></strong>. Tous droits réservés
        </div>
        <div class="credits">
            Réalisé par <a href="https://www.lemarchedelacom.fr/" target="_blank">Le Marché de la Com'</a>
        </div>
    </div>

</footer><!-- End Footer -->
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{{asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{asset('assets/vendor/aos/aos.js')}}"></script>
<script src="{{asset('assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
<script src="{{asset('assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
<script src="{{asset('assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
<script src="{{asset('assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>

<!-- Template Main JS File -->
<script src="{{asset('assets/js/main.js')}}"></script>