<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="https://rpvo.org/" target="_blank" class="logo d-flex align-items-center">
            <img src="{{asset('assets/img/logo_rpvo.jpeg')}}" alt="logo RPVO">
        </a>
        <nav id="navbar" class="navbar">
            {# <ul>
                <li><a href="{{path('app_ivg_contraception')}}">IVG - Contraception</a></li>
                <li><a href="{{path('app_main')}}">Vulnérabilités</a></li>
                <li><a href="{{path('app_main')}}">Anténatal</a></li>
                <li><a href="{{path('app_main')}}">Post-natal</a></li>
                <li><a href="{{path('app_main')}}">Deuil périnatal</a></li>
                <li><a href="{{path('app_main')}}">Suivi des enfants vulnérables</a></li>
                <li class="dropdown">
                    <a href="{{path('app_tool')}}"><span>Outils pratiques</span> <i
                            class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="{{path('app_tool_obstetricalCastor')}}">Calendrier de Grossesse Interactif</a></li>
                        <li><a href="{{path('app_tool_calculatorForPremature')}}">Calculateur d'Âge réel ou corrigé pour
                                les Prématurés</a></li>
                        <li><a href="{{path('app_tool_obstetricalCastor')}}">Roulette Obstétricale</a></li>
                        <li><a href="#">Échelle Scorée</a></li>
                    </ul>
                </li>
                <li><a href="{{path('app_main_contact')}}">Contacts</a></li>
            </ul>#}
        </nav><!-- .navbar -->

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
</header><!-- End Header -->
<!-- End Header -->