{% extends "base.html.twig" %}
{% block title %}RPVO | Accueil{% endblock %}


{% block body %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero" style="background-color: white;">
    <div class="container position-relative">
        <div class="row gy-5" data-aos="fade-in">
            <div
                class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                <h2 style="color: black !important;">Bienvenue sur le site du Réseau Périnatal du Val d'Oise
                    (R.P.V.O.)</h2>
                <p style="color: black !important;">
                    Ce site s'adresse à toutes les futures mamans, futurs papas, parents, ainsi qu'à l'ensemble des
                    professionnels de la périnatalité résidant dans le Val d'Oise.
                </p>
            </div>

            <div class="col-lg-6 order-1 order-lg-2 d-flex align-items-center">
                <img src="{{asset('assets/img/hero.jpeg')}}" class="img-fluid w-100 rounded-1" alt=""
                    data-aos="zoom-out" data-aos-delay="100">
            </div>
        </div>
    </div>

    <div class="icon-boxes position-relative">
        <div class="container position-relative">
            <div class="row gy-4 mt-5 pt-4 justify-content-center">
                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-command"></i></div>
                        <h4 class="title">
                            <a href="" class="stretched-link">
                                IVG - Contraception
                            </a>
                        </h4>
                    </div>
                </div><!--End Icon Box -->

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-command"></i></div>
                        <h4 class="title">
                            <a href="" class="stretched-link">Vulnérabilité
                            </a>
                        </h4>
                    </div>
                </div><!--End Icon Box -->

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-command"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">Anténatal</a></h4>
                    </div>
                </div><!--End Icon Box -->

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-command"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">Post-natal</a></h4>
                    </div>
                </div><!--End Icon Box -->

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-command"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">Deuil périnatal
                            </a></h4>
                    </div>
                </div><!--End Icon Box -->
            </div>
        </div>
    </div>

    </div>
</section>
<!-- End Hero Section -->

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Découvrez RPVO</h2>
            </div>

            <div class="row gy-4">
                <div class="col-lg-6">
                    <h3>Notre réseau de santé</h3>
                    <img src="{{asset('assets/img/about.webp')}}" class="img-fluid rounded-4 mb-4" alt="">
                    <p>
                        Le Réseau Périnatal du Val d'Oise est un réseau de santé s'adressant aux futures mères, et mères
                        du territoire départemental ainsi qu'à leurs bébés.
                        <i>Il est régi par le Code de la Santé publique (article L. 6321-1).</i>
                    </p>
                    <p>
                        Le R.P.V.O. a pour but l'amélioration du suivi de la femme enceinte et de
                        son nouveau-né en favorisant notamment leur accès aux soins, la coordination et la continuité de
                        leur prise en charge.
                        Le R.P.V.O. est constitué en Association loi 1901 et bénéficie à ce titre de subventions
                        publiques par l'Agence
                        Régionale de Santé d'Ile-de-France (A.R.S.) dans le cadre du Fonds d'Intervention Régional
                        (F.I.R.)
                    </p>
                    <p>
                        Le Réseau Périnatal du Val d'Oise n'exerce pas directement d'activité de soins par lui-même, il
                        ne remplace donc pas les professionnels de santé votre prenant en charge pour votre grossesse,
                        il vient en appui et en soutien à ces derniers.
                    </p>
                </div>
                <div class="col-lg-6">
                    <div class="content ps-0 ps-lg-5">
                        <h3>Les objectifs du réseau</h3>
                        <p class="fst-italic text-bold">
                            Le Réseau Périnatal du Val d'Oise a pour objectif général, sur le territoire du Val d'Oise :
                        </p>
                        <ul>
                            <li>
                                <i class="bi bi-check-circle-fill"></i>
                                D'accroître la sécurité autour de la naissance par la prise en charge globale de la
                                parturiente et du nouveau-né,
                            </li>
                            <li>
                                <i class="bi bi-check-circle-fill"></i>
                                D'assurer une meilleure orientation de la parturiente en fonction de son état et / ou de
                                celui de l'enfant à naître,
                            </li>
                            <li>
                                <i class="bi bi-check-circle-fill"></i>
                                De favoriser la coordination, la complémentarité et la continuité des soins dispensés,
                            </li>
                            <li>
                                <i class="bi bi-check-circle-fill"></i>
                                De promouvoir la délivrance de soins de proximité et de qualité, dans le respect des
                                principes et normes néonatals,
                            </li>
                            <li>
                                <i class="bi bi-check-circle-fill"></i>
                                D'assurer l'harmonisation de la prise en charge de l'accueil et de l'orientation du
                                couple
                                mère-enfant,
                            </li>
                        </ul>
                        <p>
                            Et en complément :
                        </p>
                        <ul>
                            <li>
                                <i class="bi bi-check-circle-fill"></i>
                                De participer à la formation des professionnels de la périnatalité,
                            </li>
                            <li>
                                <i class="bi bi-check-circle-fill"></i>
                                De faciliter l'information et la communication entre ces professionnels et la
                                population.
                            </li>
                        </ul>

                        <div class="position-relative mt-4 text-center">
                            <img src="{{asset('assets/img/about-2.webp')}}" class="img-fluid rounded-4" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->

    {% include "_partials/_toolsList.html.twig" %}

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">
            <div class="row gy-4 justify-content-center">
                <div class="col-lg-10">
                    <section id="show-agenda-home" class="call-to-action show-agenda-home">
                        <div class="container text-center aos-init aos-animate" data-aos="zoom-out">
                            <h3>AGENDA (R.P.V.O.)</h3>
                            <p>
                                Consultez les prochains événements du Réseau de Périnatalité
                            </p>
                            <a class="cta-btn" href="#">Explorer</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Nos derniers articles</h2>
                <p>
                    Explorez notre blog pour découvrir des contenus modernes, pertinents et instructifs, pensés pour
                    vous accompagner tout au long de votre parcours périnatal.
                    <br>
                    La parentalité éclairée commence ici.
                </p>
            </div>

            <div class="row gy-4">
                <div class="col-xl-4 col-md-6">
                    <article>
                        <div class="post-img">
                            <img src="{{asset('assets/img/blog/blog-1.jpg')}}" alt="" class="img-fluid">
                        </div>

                        <p class="post-category">Santé</p>

                        <h2 class="title">
                            <a href="">Santé sexuelle : Quel mode de contraception choisir ?
                            </a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <img src="{{asset('assets/img/logo_rpvo.jpeg')}}" alt=""
                                class="img-fluid post-author-img flex-shrink-0">
                            <div class="post-meta">
                                <p class="post-author">R.P.V.O</p>
                                <p class="post-date">
                                    <time datetime="2022-01-01">Jan 1, 2022</time>
                                </p>
                            </div>
                        </div>

                    </article>
                </div><!-- End post list item -->

                <div class="col-xl-4 col-md-6">
                    <article>
                        <div class="post-img">
                            <img src="{{asset('assets/img/blog/blog-2.jpg')}}" alt="" class="img-fluid">
                        </div>

                        <p class="post-category">Santé</p>

                        <h2 class="title">
                            <a href="">
                                Santé mentale : Comment dépister ou accompagner la dépression périnatale
                            </a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <img src="{{asset('assets/img/logo_rpvo.jpeg')}}" alt=""
                                class="img-fluid post-author-img flex-shrink-0">
                            <div class="post-meta">
                                <p class="post-author">R.P.V.O</p>
                                <p class="post-date">
                                    <time datetime="2022-01-01">Jun 5, 2022</time>
                                </p>
                            </div>
                        </div>
                    </article>
                </div><!-- End post list item -->

                <div class="col-xl-4 col-md-6">
                    <article>

                        <div class="post-img">
                            <img src="{{asset('assets/img/blog/blog-3.jpg')}}" alt="" class="img-fluid">
                        </div>

                        <p class="post-category">Santé</p>

                        <h2 class="title">
                            <a href="">
                                Suivi des enfants vulnérables : Découvrir le dispositif SEV et son parcours protocolisé
                            </a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <img src="{{asset('assets/img/logo_rpvo.jpeg')}}" alt=""
                                class="img-fluid post-author-img flex-shrink-0">
                            <div class="post-meta">
                                <p class="post-author">R.P.V.O</p>
                                <p class="post-date">
                                    <time datetime="2022-01-01">Jun 22, 2022</time>
                                </p>
                            </div>
                        </div>

                    </article>
                </div><!-- End post list item -->

            </div><!-- End recent posts list -->

        </div>
    </section><!-- End Recent Blog Posts Section -->

    <section id="call-to-action" class="call-to-action">
        <div class="container text-center aos-init aos-animate" data-aos="zoom-out">
            <h3>Simplifiez la Collaboration : Adhérez au Réseau Périnatal du Val d'Oise (R.P.V.O.)</h3>
            <p>
                Optimisez votre engagement avec le Réseau Périnatal du Val d'Oise en adhérant en ligne. Notre processus
                d'adhésion simplifié vous permet de rejoindre rapidement notre communauté de professionnels dédiés à la
                périnatalité.
            </p>
            <a class="cta-btn" href="{{path('app_main_membership')}}">Adhérez au réseau</a>
        </div>
    </section>
</main>
<!-- End #main -->
{% endblock %}